.stats{
    background-color: lightgray;
    text-align: center;
}

.heading-stats{
    padding: 2rem;
    background-color: darkgray;
}


.peoplestats{
    padding: 1rem;
}

.white{
    font-size: 2.7rem;
    color: white;
    background-color: darkblue;
}